/.idea/*
/.dmypy.json
venv
.venv
.env
**/__pycache__
db_data
**/postgres_data
arkad/media/
secrets.sh
arkad/private
arkad/config
.DS_Store
.dmypy.json
/arkad/static_root/
*.pem
tofu/.terraform/providers/registry.opentofu.org/hashicorp/aws/5.97.0/darwin_arm64
tofu/terraform.tfstate
tofu/terraform.tfstate.backup
tofu/.terraform.lock.hcl
*.pem
firebaseCert.json
