<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/6142149cd22bb442c2fdbb26/f0043496-cc87-4059-ba29-1044def3411f/favicon.ico?format=100w">
        <title>ARKAD: Password reset complete</title>
        <style type="text/css">
        {% include "password_reset.css" %}
        </style>
    </head>
    <body>
        <main class="form-container">
            <div style="text-align:center">
                <img src="https://images.squarespace-cdn.com/content/v1/6142149cd22bb442c2fdbb26/f0043496-cc87-4059-ba29-1044def3411f/favicon.ico?format=100w">
            </div>
            <h1 class="form-title">Password reset complete</h1>
            <p class="confirmation-text">
                Your password has been successfully reset.
            </p>
        </main>
    </body>
</html>
