{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/6142149cd22bb442c2fdbb26/f0043496-cc87-4059-ba29-1044def3411f/favicon.ico?format=100w">
        <title>ARKAD: Reset password</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
    </head>
    <body>
        <main class="form-container">
            <div style="text-align:center">
                <img src="https://images.squarespace-cdn.com/content/v1/6142149cd22bb442c2fdbb26/f0043496-cc87-4059-ba29-1044def3411f/favicon.ico?format=100w">
            </div>
            {% if form.fields %}
                <h1 class="form-title">Reset password</h1>
                <form method="post" class="arkad-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="form-error">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="arkad-button">Set new password</button>
                </form>
            {% else %}
                <p class="confirmation-text">
                    This link is no longer valid. 
                </p>
            {% endif %}
        </main>
    </body>
</html>
