<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/6142149cd22bb442c2fdbb26/f0043496-cc87-4059-ba29-1044def3411f/favicon.ico?format=100w">
    <title>ARKAD Company admin screen</title>
</head>

<h1>Applications for {{ company }}</h1>

<ul style="list-style: none;">
    {% for application in applications %}
        <li>
            
            {{ application.applicantId }}
            {{ application.name }}
            {{ application.motivation_text}}
            {{ application.cv }}

            <button onclick="updateApplicationStatus('{{application.applicantId}}', 'accept')">Accept application</button>
            <button onClick="deny">Deny application</button>
        </li>

    {% endfor %}
</ul>

<script>

    function updateApplicationStatus(applicantUserId, denyOrAccept){
        fetch("/exhibitor/update-application-status", {
            method: "POST",
            header: {
                "Content-Type": "application/json",
            },
            body:{
                "applicantUserId": applicantUserId, 
                "status": denyOrAccept
            }
        })
        .then(response => {
            if(!response.ok){
                alert(`Error updating application status. Responded with status code: ${response.status}`)
            }
        });
    }

</script>
